Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /hacklab/
    RewriteRule ^$ public/index.php [L]
</IfModule>

RewriteRule ^includes/ - [F,L]
RewriteRule ^sandbox/ - [F,L]
